{% extends 'base.html.twig'%}

{% block body %}
    <h1>Weather Forecast System</h1>

    <p>text</p>
    <p>text</p>
    <p>text</p>
{% endblock %}


{%block title %} Weather Forecast System {% endblock %}